.canvas_wrapper{
    width: 90vw;
    height: 80vh;
    border: 2px solid black;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.canvas{
    width: 2560px;
    height: 1600px;
    position: absolute;
    cursor: pointer;
    border: 1px solid black;
    }